body{
  background: linear-gradient(0deg, #000000, #000000);
}

.ellipse-1{
  position: absolute;
width: 400px;
height: 90px;
clip-path: ellipse(33% 40% at 50% 50%);
/* background:radial-gradient( #B844FF); */
}
.img-sec {
  position: relative;
  display: inline-block;
}


.fire-icon{
position: absolute;
top: 80px;
left: -40px;
}

.heart-icon{
position: absolute;
  bottom: 25%;
  right: -10%
}
.thunder-icon{
position: absolute;
 top: 10%;
  right: -5%;

}
.hero-sec h1{
  background: linear-gradient(90deg, #A734BD 0%, #FF006A 100%);
-webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 3em;
}
.counts{
  min-height: 120px;
 background: #34213480;

}
.counts h2,h2{
    background: linear-gradient(90deg, #A734BD 0%, #FF006A 100%);
-webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 2em;
}
.counts p{
  color: white;
  line-height: 1.3;
}
.about-down{
  border-radius: 10px;
   padding: 0 !important;
}

.card{
  background-color:#34213480 !important ;
  color: white !important;
 
  
}
.card-icons{
  width: 50px;
  height: 50px;
  background: #FFFFFF1A;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

}
.two-phones{
  width: 100%;
}
.phones{
  max-width: 100%;
}